In [1]:
'''Given the participants' score sheet for your University Sports Day, you are required to
find the runner-up score. You are given scores. Store them in a list and find the score of
the runner-up'''
my_list=[1,2,3,4,5,6]
maximum=max(my_list)
my_list.remove(maximum)
print("RUNNERS UP SCORE IS:",max(my_list))

RUNNERS UP SCORE IS: 5

In [3]:
'''A dictionary is given D={‘John’ [25,32,43],’Peter’:[87,55,96],’Ram’:[58,55,43],’Meena’:[63,79,85]}
Get a name from user if the name in the dictionary change the values corresponding to
that user to [88,77,99] and print the dictionary. Else print ‘Name not found’.'''

D = {'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

name = input("Enter a name to update values: ")

if name in D:

    D[name] = [88, 77, 99]
    print("Values updated :", name)
    print("Updated Dictionary:", D)
else:
    print("Name not found in the dictionary.")

Enter a name to update values: Peter
Values updated : Peter
Updated Dictionary: {'John': [25, 32, 43], 'Peter': [88, 77, 99], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

In [4]:
'''Ticket Price Calculator:
I. Ask the user to enter their age.
II. Use control statements (if-elif-else) to calculate the ticket price based on the
following conditions:
a. If the age is below 5, the ticket price is free.
b. If the age is between 5 and 12 (inclusive), the ticket price is Rs.10.
c. If the age is above 12, the ticket price is Rs.50.
d. If the age is above 60, the ticket price is free.
e. If the gender is female, the ticket price is 50% of the applicable rates.
III. Display the ticket price to the user'''

age = int(input("Enter your age: "))
gender = input("Enter your gender (male/female): ").lower()

ticket_price = 0
if age < 5 or age > 60:
    ticket_price = 0
elif 5 <= age <= 12:
    ticket_price = 10
else:
    ticket_price = 50
if gender == 'female':
    ticket_price =ticket_price* 0.5
print("Ticket Price: Rs.", ticket_price)

Enter your age: 45
Enter your gender (male/female): female
Ticket Price: Rs. 25.0